<div class="col-md-4 offset-4">
  <div class="card">
    <div class="card-body">
      <h2>Parameters</h2>
      <p>
        How to use some additional parameters:
      </p>
      <p>
        - This parameters [{{url}}] is passed from <b>url</b>!
      </p>
      <p>
        - This parameters [{{router}}] is passed from <b>router.json</b>!
      </p>
    </div>
  </div>
</div>
